
body{
background-color: #f6f1ed;
font-family: 'Lato';
margin: 0px;
}

#bar
{
	position:fixed;
    width:100%;
    height:6em;
    background:#30231d;
    top:0px;
    z-index: 2;
    box-shadow:0px 0px 20px 0px #000;
    text-align: center;
}

#bar img
{
	margin-top: 1%;
	height: 80%;
}

#points
{
	margin-top: 1%;
	float: left;
	font-size: 3em;
	color: white;
}

#logout
{
	float: right;
}

.strona{
	max-width: 800px;
	width: 100%;
	margin: 30px auto 60px auto;
	font-size: 3em;
}

.wydarzenie
{
	width: 100%;
	box-shadow: 1px 1px 2px #888888;
	background-color: #30231d;
	color: #f6f1ed;
}
 
.headerwydarzenie
{
	height: 80px;
	min-height: 30px;
	width: 100%;
	position: relative;
	align-items: stretch;
	float: left;
	padding: 5px;
}

.headerwydarzenie .profiloweimg{
    border-radius: 50%;
    overflow: hidden;
    height: 120%;
    width: auto;
    margin: auto;
    margin-top: 1%; 
    margin-left: 1%;
    float: left;
}

.wydarzenie .headerwydarzenie p
{
	background-color: #30231d;
	float: left;
	font-size: 3em;
	margin: 0px;
	padding: 0em;
}
 
.wydarzenie img
{
    width: 100%;
}

.wydarzenie a
{
    text-decoration: none;
    color: white;
}

.wydarzenie .opis{
	background-color: #f6f1ed;
	color: #30231d;
	font-size: 1em;
	padding: 0.5em;
}

.paneldolny{
	z-index:1000;
	position: fixed;
	width: inherit;
	max-width:inherit;
	height: 2em;
	box-shadow: 1px 1px 10px #ccc;
	background-color: #30231d;
	bottom: 0px;
}
.stopkaEvent:{
	float: left;
	width: 100%;
	background-color: blue;
}

.wydarzenie .eventInfo{
	float: left;
	width: 100%;
	font-size: 2em;
	color:black;
}

.paneldolny div:first-child{
	border-left-style: none;
}
.paneldolny div{
	float: left;
	width: 24.33333%;
}
.paneldolny img{
	width:auto;
	height: 70%;
	display: block;
    margin: 0 auto;
    padding: 7%;
}
.logowanie{
	background-color: #f6f1ed;
	color: #30231d;
	padding: 1em;
	box-shadow: 1px 1px 2px #888888;
}

.logowanie p{
	text-align:center;
	margin-bottom: 5px;
}
.logowanie input, .button{
	width:100%;
	font-size: 1em;
	margin-bottom: 5px;
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	font-size: 1em;
	width:100%;
}

.btn_ahref {
    background-color: #30231d; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	font-size: 1em;
	width:auto;
}

.grupuj{
	width: 100%;
	background-color: #30231d;
	box-shadow: 1px 1px 10px #000;
}

.grupuj >p{
	text-align:center;
	color: #f6f1ed;
	margin-bottom:0;
	padding:0;
}

.text{
	width:100%;
	max-width:100%;
	margin-bottom: 5px;
	font-size: 1em;
}

.wylogujButton{
	width:100%;
	background-color: #008CBA;
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	padding: 10px 0px 10px 0px;
}

.lista_uczestnikow
{
	background-color: #30231d;
	width: 100%;
}

.lista_uczestnikow p
{
	font-size: 0.7em;
}

form.users_form
{
	margin-bottom: 0;
}

.decision_buttons
{
	margin: 0em auto;
    text-align: center;
}

.btnNo
{
	width: 20% !important;
	display: inline-block;
	margin: 5%;
}

.btnYes
{
	width: 20% !important;
	display: inline-block;
	margin: 5%;
}

.zgloszenie
{
	max-width: 800px;
	width: 100%;
	box-shadow: 1px 1px 2px #888888;
	background-color: #30231d;
	color: #f6f1ed;
	border-radius: 3%;
	position: fixed;
	text-align: center;

}

.zgloszenie img
{
    width: 100%;
    max-height: 60%;
}

.zgloszenie a
{
    text-decoration: none;
    color: white;
}

.zgloszenie .opis{
	background-color: #30231d;
	color: #f6f1ed;
	font-size: 1em;
	padding: 0.5em;
}


